/* MenuForm.css */

.industries-form {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 250px; /* Điều chỉnh kích thước theo nhu cầu */
  background-color: #f4f4f4;
  padding: 10px;
}

.content {
  flex: 1;
  padding: 10px;
  background-color: #fff;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.sidebar button:hover {
  color: darkblue;
}
