.container-inner {
  width: 100%;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  background-color: white;
}

/* Tiêu đề và phụ đề */
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #044026;
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 16px;
  color: #044026;
  margin-bottom: 20px;
}

/* Bố cục của form */
.form-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
}

/* Chiều rộng của mỗi cột */
.form-column {
  display: flex;
  flex-direction: column;
  width: 48%; /* Điều chỉnh chiều rộng của mỗi cột để vừa với 2 cột */
  gap: 15px;
}

/* Định dạng cho từng nhóm form */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Định dạng cho các input, select và textarea */
.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #044026;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
  resize: none;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #6895c5;
  outline: none;
}

/* Định dạng cho nút submit */
.submit-button {
  width: 50%;
  background-color: white;
  border: 1px solid #044026;
  border-radius: 10px;
  padding: 10px 0;
  color: rgb(255, 0, 0);
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.submit-button:hover {
  background-color: #4e7468;
}

.full-width {
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .form-grid {
    flex-direction: column;
  }

  .form-column {
    width: 100%;
  }

  .submit-button {
    width: 100%;
  }
}
