.footer-top-container {
    background-color: #044026;
    width: 100%;
    padding: 50px 0;
  }
  
  .footer-top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
  }
  .footer-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Giúp các phần tử tự động chuyển dòng khi không đủ không gian */
  gap: 20px;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px; /* Khoảng cách giữa các cột */
}

  
  .footer-top-left {
    color: white;
    flex: 3; /* Tăng giá trị flex để phần bên trái rộng hơn */
    max-width: 70%; /* Tăng max-width để phần bên trái chiếm nhiều diện tích hơn */
    margin-left: 70px;
  }
  .footer-top-left h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .footer-top-left p {
    font-size: 28px;
  }
  
  .footer-top-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    max-width: 50%; /* Đặt giới hạn chiều rộng chính xác cho phần bên phải */
    padding-right: 50px;
  }

  .footer-logo {
    height: auto; /* Đảm bảo tỷ lệ của logo không bị thay đổi */
    max-height: 100%; /* Điều chỉnh chiều cao tối đa của logo */
    margin-left: 20px; /* Khoảng cách giữa các logo */
}
  
  .footer-logo:first-child {
    margin-left: 0; /* Remove margin from the first logo */
  }
  
  /* Khi kích thước màn hình nhỏ hơn 1024px */
@media (max-width: 1024px) {
  .footer-top-content {
      flex-direction: column;
      align-items: flex-start;
      text-align: center;
  }

  .footer-top-left {
      margin-left: 0;
      max-width: 100%;
      margin-bottom: 30px;
  }

  .footer-top-right {
      max-width: 100%;
      justify-content: center;
      padding-right: 0;
  }

  .footer-logo {
      margin-left: 10px;
  }
}

/* Khi kích thước màn hình nhỏ hơn 768px */
@media (max-width: 768px) {
  .footer-top-container {
      padding: 30px 0;
  }

  .footer-top-left h2 {
      font-size: 24px;
  }

  .footer-top-left p {
      font-size: 18px;
  }

  .footer-top-right {
      flex-direction: column;
  }

  .footer-logo {
      margin-left: 0;
      margin-bottom: 10px;
  }
  .footer-row {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    width: 100%; /* Chuyển các cột thành hàng đầy đủ chiều rộng trên màn hình nhỏ */
  }
  
}

/* Khi kích thước màn hình nhỏ hơn 480px */
@media (max-width: 480px) {
  .footer-top-left h2 {
      font-size: 20px;
  }

  .footer-top-left p {
      font-size: 16px;
  }

  .footer-top-container {
      padding: 20px 0;
  }

  .footer-top-right {
      flex-direction: column;
      align-items: center;
  }

  .footer-logo {
      margin-left: 0;
  }
}