/* Menu.css */
.footer-container {
  display: flex;
  flex-direction: column;
  background-color: #044026;
  color: #FFFFFF;
  padding: 20px 40px;
  font-family: Arial, sans-serif;
}
.footer-middle-right-container {
  display: flex;
  
}


.footer-left {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px; /* Khoảng cách giữa logo và phần còn lại */
}

.footer-logo {
  width: 300px;
  height: auto;
}


.footer-middle, .footer-right {
  flex: 1; /* Đảm bảo cả hai phần tử chiếm cùng một lượng không gian */

}

.footer-middle {
  display: flex;
  justify-content:flex-start
}
.footer-column h4 {
  margin-bottom: 10px;
  color: #EA5A47;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  

}
.footer-column h4::after {
  content: "";
  width: 60%;
  height: 2px;
  background-color: #EA5A47;
  position: absolute;
  bottom: 0;
  left: 50%; /* Center underline within the text */
  transform: translateX(-50%);
  
}
.footer-column {
  font-size: 15px;
  text-align: center;
  flex: 1; 
}


.footer-link {
  display: block;
  color: #e5ecf4;
  text-decoration: none;
  margin-bottom: 15px;
}

.footer-right {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px; /* Khoảng cách giữa phần footer-right và footer-middle */
}

.footer-right-bottom {
  margin-top: auto; /* Đẩy phần tử này xuống dưới cùng của container */
  margin-top: auto; /* Khoảng cách từ các phần tử trên */
  font-size: 14px; /* Điều chỉnh kích thước chữ nếu cần */
}
.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.footer-right-bottom {
  margin-top: 20px; /* Khoảng cách giữa các thông tin liên hệ và phần thông tin bản quyền */
  font-size: 14px; /* Điều chỉnh kích thước chữ nếu cần */
}