.footer-container {
  display: flex;
  justify-content: space-between;
  /* background-color: #044026; */
  color: #FFFFFF;
  padding: 20px 60px;
  font-family: Arial, sans-serif;
}

.footer-left {
  flex: 1;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-logo {
  width: 300px;
  margin-bottom: 15px;
}

.footer-contact {
  margin-top: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-item svg {
  color: #EA5A47;
  font-size: 25px;
  margin-right: 20px;
}

.contact-item span {
  font-size: 16px;
  line-height: 2.5;
  color: #FFFFFF;
}

.footer-right-bottom {
  margin-top: auto;
  font-size: 18px;
}

.footer-right {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.footer-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  text-align: center;
  gap: 15px;
}
.footer-column h4 {
  margin-bottom: 1px;
  color: #EA5A47;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  font-family: Roboto;
}
.contact-item p {
  margin: 0;
  line-height: 1.2; /* Điều chỉnh line-height để giảm khoảng cách giữa các dòng */
}

.footer-column h4::after {
  content: "";
  margin-top: 10px;
  width: 100%;
  height: 2.5px;
  background-color: #EA5A47;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.footer-link {
  display: block;
  color: #e5ecf4;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-link:hover {
  display: block;
  color: #EA5A47;
  text-decoration: none;
}
