.banner-midle-bottom-background {
  background-color: #ffffff;
  border: 1px solid #141313;
  border: none;
  width: 100%;
  height: 1100px;
}

.banner-midle-bottom {
  color: black;
}
.banner-midle-bottom-postion {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: start;
  padding-bottom: 20px;
}
.image-container {
  position: relative;
  display: inline-block;
  width: 100%; /* Đảm bảo ảnh chiếm toàn bộ chiều rộng của vùng chứa */
  max-width: 600px; /* Đặt kích thước tối đa để phù hợp với các màn hình lớn hơn */
}

.image-container img {
  width: 100%; /* Đảm bảo ảnh bao phủ toàn bộ chiều rộng của vùng chứa */
  height: auto; /* Duy trì tỷ lệ khung hình của ảnh */
  display: block;
}

.image-container .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(4, 64, 38, 0.53);
  color: #fff;
  text-align: center;
  padding: 10px;
  height: 50%; /* Hiển thị một phần nội dung trước khi di chuột */
  overflow: hidden;
  transition: height 0.3s ease;
}

.image-container .overlay .additional-text {
  display: none; /* Ẩn văn bản thêm khi không di chuột */
}

.image-container:hover .overlay {
  height: 95%; /* Hiển thị toàn bộ nội dung khi di chuột vào ảnh */
}

.image-container:hover .overlay .additional-text {
  display: block; /* Hiển thị văn bản thêm khi di chuột vào ảnh */
}

/* Responsive Design */
@media (max-width: 768px) {
  .image-container {
    max-width: 100%;
  }

  .image-container .overlay {
    height: 40%; /* Có thể cần điều chỉnh để phù hợp với các màn hình nhỏ */
  }

  .image-container:hover .overlay {
    height: 92%; /* Tăng chiều cao khi di chuột vào ảnh */
  }
  .banner-midle-bottom-postion{
    flex-direction: column;
  }
  
}
